* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}

.header {
  margin-bottom: 20px;
}

.container {
  text-align: center;
  max-width: 340px;
  min-height: 540px;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px grey;
  margin-top: 70px;
  padding: 7px 20px;
}

@media only screen and (max-width: 500px) {
  .container {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

.balance {
  margin-bottom: 15px;
}

.expense-container {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px grey;
  margin-bottom: 10px;
}

.target {
  background-color: white;
}

.green {
  color: rgb(26, 153, 26);
  background-color: white;
}

.red {
  color: rgb(212, 31, 31);
  background-color: white;
}

.history {
  margin-bottom: 20px;
}

.transaction-list {
  margin: 0;
  list-style: none;
  font-weight: bold;
}

.transaction-list > li {
  display: flex;
  justify-content: space-around;
}

.input {
  width: 100%;
  cursor: pointer;
  height: 34px;
  font-weight: bold;
}

.button {
  margin-top: 10px;
  color: white;
  background-color: rgb(32, 32, 77);
  font-weight: bolder;
  width: 100%;
  cursor: pointer;
  height: 34px;
}

.transaction-form input {
  margin: 10px 0;
}