# This is a basic workflow to help you get started with Actions

name: Expense Tracker App In React.JS

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Installing Node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: 12

      - name: Github Action for Yarn
        uses: Borales/actions-yarn@v2.1.0
        with:
          cmd: install    

      - name: Create React App Build
        run: npm build

      # Runs a set of commands using the runners shell
      - name: Installing Surge
        run: npm install -g surge
        
      - name: Deploying using Surge
        run: surge ./build http://react-expense-tracker-app-by-ahmed.surge.sh/ --token ${{secrets.EXPENSE_TRACKER}}
